@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root {
    --bg-color: #0f1c2e;
    --second-bg-color: #3d5a80;
    --text-color: #ffffff;
    --main-color: #1f3a5f;
    --span-color: #fcbf49;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}
.header {
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header.sticky {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}
/* Navbar */
/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid black;
    background: #e9e6df;
    padding: 10px 20px;
} */
.navbar {
    display: flex;
}
.navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
}

.nav-list .logo {
    justify-content: space-around;
}

.logo img {
    max-width: 80px;
    height: auto;
    cursor: pointer;
}

.logo:hover {
    opacity: 1;
    animation: logoInOpacity 2s ease-out 3;
}

@keyframes logoInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 16px;
}
.project-title,
.nav-text {
    color: var(--text-color);
    font-size: 18px;
    border: 1px solid #d4eaf7;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease,
        box-shadow 0.3s ease;
}
.field:hover,
.btn:hover,
.nav-text:hover {
    color: #d4eaf7;
    border: 1px solid rgb(43, 43, 43);

    background-color: #1d1c1ccc;
    box-shadow: 0 0 5px #1d1c1c;
}
/* Project */
.project-title {
    border-radius: 15px;
    border: 1px solid #1d1c1c;
}
/* container */
.container {
    scroll-snap-align: y mandatory;
    /* overflow-y: scroll; */
    height: 100vh;
}
/* Sections */
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img img {
    width: 35vw;
    min-width: 240px;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p {
    font-size: 2.6rem;
}
span {
    color: var(--span-color);
}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
}
.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
    color: #d4eaf7;
}
.btn:hover {
    box-shadow: none;
}

.home-text {
    max-width: 600px;
    margin: 0 auto;
}

.project,
.contact .about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}
.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.about-img img {
    margin-top: 10px;
    width: 35vw;
}
.heading {
    text-align: center;
    font-size: 4.5rem;
}
.about-content {
    text-align: left;
    line-height: 1.5;
}
.about-content h2 {
    text-align: left;
    line-height: 1.2;
}
.about-content h3 {
    font-size: 2.6rem;
}
.about-content p {
    font-size: 2.6rem;
    margin: 1rem 0 3rem;
}

.contact img,
.about img {
    width: 350px;
    margin: 20px 0;
    border-radius: 50%;
    margin-right: 10px;
}

.contact,
.about {
    margin: 10px 0;
}

.portfolio h2 {
    margin-bottom: 4rem;
}
.portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    gap: 2.5rem;
}
.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.portfolio-box img {
    width: 100%;
    transition: 0.5s ease;
}
.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}
.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3rem;
}
.portfolio-layer p {
    font-size: 2.6rem;
    margin: 0.3rem 0 1rem;
}
.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    background: var(--text-color);
    border-radius: 50%;
    margin-left: 45%;
}
.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}
.home,
.contact,
.portfolio {
    background: var(--second-bg-color);
}
/* skills */

/* Contact */

.field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: var(--text-color);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s;
}
.contact {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: blur(50px);
    z-index: -1;
}
.contact-box {
    max-width: 950px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}
.left {
    background: url("img/Mamangun.jpg") no-repeat center;
    background-size: cover;
    height: 520px;
}

.right {
    padding: 25px 40px;
}

#contact h2 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
    color: #1d1c1c;
}

#contact h2:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: var(--main-color);
}

textarea {
    min-height: 150px;
}
.field:focus {
    border: 2px solid rgba(0, 0, 0, 0.47);
    background-color: #fff;
}
/* Footer */
footer {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    height: 50px;
    text-align: center;
}
#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
/* Tablet responsiveness */
@media (max-width: 1024px) {
    .portfolio-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .portfolio-box {
        width: 65%; /* Adjust width for tablets */
        margin: 1rem;
    }
    .portfolio-box img {
        /* max-height: 310px; */
        height: 80%;
    }

    .portfolio-layer h4 {
        font-size: 2rem;
    }

    .portfolio-layer p {
        font-size: 1rem;
    }

    .portfolio-layer a {
        height: 4.5rem;
        width: 4.5rem;
    }

    .portfolio-layer a i {
        font-size: 2rem;
    }
}

@media screen and (max-width: 991px) {
    .header {
        padding: 0 7%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .home-content h3 {
        font-size: 2.2rem;
        font-weight: 600;
    }
    .home-content h3:nth-of-type(2) {
        margin-bottom: 1.5rem;
    }

    .home-content h1 {
        font-size: 3.7rem;
        font-weight: 600;
        line-height: 1.1;
    }
    .home-content p {
        font-size: 2rem;
    }
    .about {
        flex-direction: column; /* Stack image and content vertically */
        text-align: center; /* Center the text */
        padding: 30px; /* Reduce padding */
    }

    .about-img {
        margin-bottom: 20px; /* Add space between image and content */
    }

    .about-img img {
        max-width: 80%; /* Allow the image to take up more width on smaller screens */
    }

    .about-content {
        padding-left: 0; /* Remove padding on the left side */
    }

    .about-content .heading {
        font-size: 2.5rem; /* Smaller heading size */
    }

    .about-content h3 {
        font-size: 1.8rem; /* Adjust h3 font size for better readability */
    }
    footer,
    .about-content p {
        font-size: 1.4rem; /* Adjust paragraph font size for mobile */
    }

    .about-content a.btn {
        font-size: 1.4rem; /* Adjust button size */
        padding: 12px 25px; /* Make button larger for better mobile interaction */
    }

    .contact-box {
        grid-template-columns: 1fr;
    }
    .left {
        height: 400px;
    }
    .contact {
        padding: 15px 45px auto;
    }
    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    .nav-list li {
        border-bottom: 2px solid var(--span-color);
    }
    .nav-list {
        display: flex;
        align-items: center;
        list-style: none;
        flex-direction: column;
    }
    .home-content h3 {
        font-size: 2rem;
        font-weight: 500;
    }
    .home-content h3:nth-of-type(2) {
        margin-bottom: 1.3rem;
    }

    .home-content h1 {
        font-size: 3.1rem;
        font-weight: 500;
        line-height: 1;
    }
    .home-content p {
        font-size: 1.3rem;
    }
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        display: none;
    }
    .nav-text {
        border: none;
    }
    .navbar.active {
        display: flex;
        justify-content: center;
        align-items: start;
        width: 30%;
        height: 470px;
        transition: 0.5s ease;
        height: 100vh;
    }
    .navbar.active {
        opacity: 1;
        animation-name: navbarInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.3s;
    }

    @keyframes navbarInOpacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 1rem 0;
    }

    .portfolio-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .portfolio-box {
        width: 100%;
        margin: 0.5rem;
    }

    .portfolio-layer {
        padding: 0 2rem;
    }

    .portfolio-layer h4 {
        font-size: 2.5rem;
    }

    .portfolio-layer p {
        font-size: 1.4rem;
    }

    .portfolio-layer a {
        height: 4rem;
        width: 4rem;
    }

    .portfolio-layer a i {
        font-size: 1.8rem;
    }
}

/* Mobile Adjustments (max-width: 600px) */
@media screen and (max-width: 560px) {
    .container .row {
        flex-direction: column;
    }
    .container .main-title h1 {
        font-size: 36px;
    }
    .container .row {
        margin-top: 30px;
    }
    .row .col:nth-child(2) {
        margin-top: 20px;
    }
    .navbar.active {
        display: flex;
        justify-content: center;
        align-items: start;
        width: 35%;
        height: 470px;
    }
    .nav-text {
        border: none;
    }
    .nav-list li {
        border-bottom: 2px solid var(--span-color);
    }
    .navbar.active {
        opacity: 1;
        animation-name: navbarInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.3s;
    }

    @keyframes navbarInOpacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 1rem 0;
    }
    .portfolio-box a {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .portfolio-layer h4,
    .portfolio-layer p {
        display: none;
    }
    .about-content .heading {
        font-size: 2rem; /* Further reduce heading size */
    }

    .about-content h3 {
        font-size: 1.6rem; /* Further reduce h3 font size */
    }
    footer,
    .about-content p {
        font-size: 1.3rem; /* Further reduce paragraph text for very small screens */
    }

    .about-content a.btn {
        font-size: 1.2rem; /* Adjust button size for very small screens */
        padding: 10px 20px; /* Adjust padding */
    }
    .contact-box {
        grid-template-columns: 1fr;
    }
    .left {
        height: 350px;
    }
    .contact {
        padding: 15px 45px auto;
    }
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 30px 10%;
}
.container .main-title {
    max-width: 700px;
    margin: 0px auto;
    text-align: center;
    font-family: helvetica;
}
.container .main-title h1 {
    position: relative;
    font-size: 40px;
    color: #242223;
    margin-bottom: 30px;
    display: inline-block;
}
.container .main-title h1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 125%;
    left: 0;
    background-color: #808080;
}
.container .main-title h2::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #d03645;
    top: calc(125% - 1px);
    left: 50%;
    transform: translateX(-50%);
}
.main-title p {
    font-size: 1.6rem;
    color: #808080;
}
.container .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.row .col {
    padding-top: 0;
    flex-basis: 46%;
}
.row .sub-title h2 {
    position: relative;
    color: var(--text-color);
    font-size: 22px;
    font-family: helvetica;
    display: inline-block;
    margin-bottom: 30px;
}
.row .sub-title h2::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    top: 125%;
    left: 0;
    background-color: #808080;
}
.row .sub-title h2::after {
    content: "";
    position: absolute;
    width: 25%;
    height: 3px;
    top: calc(125% - 1px);
    left: 0;
    background-color: var(--span-color);
}
.subject {
    font-size: 18px;
    font-weight: thin;
    color: #808080;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.progress-bar {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #808080;
    border-radius: 15px;
    margin-bottom: 20px;
}
.progress-bar::after {
    position: absolute;
    content: attr(value);
    top: -35px;
    right: 0;
    color: #808080;
    font-size: 18px;
}
.progress-line {
    position: absolute;
    width: 0%;
    height: 7px;
    background-color: var(--span-color);
    border-radius: 15px;
    top: -1px;
    animation: animate 1.5s cubic-bezier(1, 0.2, 0.2, 1) forwards;
}
@keyframes animate {
    100% {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 30px 8%;
    }
}
@media (max-width: 568px) {
    .progress-bar::after {
        top: -35px;
        font-size: 14px;
    }
    .subject {
        font-size: 14px;
    }
    .row .sub-title h2 {
        font-size: 16px;
    }
    .main-title p {
        font-size: 1.2rem;
    }
    .heading {
        font-size: 3.5rem;
    }
    .container .row {
        flex-direction: row;
    }
    .container .main-title h1 {
        font-size: 28px;
    }
    .container .row {
        margin-top: 18px;
    }
    .row .col:nth-child(2) {
        margin-top: 0;
    }
}
